body {
  margin: 10px auto;
  width: 70vw;
}

h3 {
  margin: 0;
  padding-bottom: 0.3em;
  padding-right: 20px;
  font-size: 2.1em;
}

p {
  margin: 0;
  padding: 0 0 0.5em;
  height: 15vh;
  font-size: 130%;
}

.pane {
  background: #edf5e1;
  padding: 10px 20px 10px;
  border-top: solid 2px #c4df9b;
  position: relative;
}

.remove-button {
  position: absolute;
  font-size: 120%;
  top: 0;
  color: darkred;
  right: 10px;
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
}
